*{

    margin: 0;
    padding: 0;

}
body{

    background: #0c0323;
    color: white;
 
}
.introducao{

    height: 50vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 60px;
    color: #fff;
    background-image: url(/img/wallpaperflare.com_wallpaper.webp);
    background-repeat: no-repeat;
    background-size: cover;



}
.introducao h1{

    font-size: 4rem;
    line-height: 3.9rem;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    margin: 15px 0px;
}
.introducao h2{

    font-family: "Kanit", sans-serif;
    font-weight: 800;
    font-style: normal;
    line-height: 22px;
}
.introducao h1, h2{

    text-align: start;
}
.introducao h1, h2, button{

    grid-column: 2;
    
}
.introducao button{

    width: 180px;
    height: 40px;
    border-radius: 20px;
    border: none;
    text-transform: uppercase;
    font-family: "Orbitron", sans-serif;
    color: white;
    background: #ff0f7b;
    cursor: pointer;
 
    
}

.comprar{

    background: linear-gradient(#0b002b, #0c0324);
    color:white;
    text-align: center;
    height: 70vh;
    padding: 6.5rem 0rem 1rem;
    margin-bottom: 5vh;


}
.comprar h1{

    font-size: 3.5rem;
    line-height: 3.9rem;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    margin: 15px 0px;

}
.comprar span{
    color: #ff0f7b;
}
.comprar h3{

    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    margin: 15px 0px;
    color: #ff0f7b;
    font-size: 1.5rem;
}
.seta{
    margin: 20px 0px 0px;
    font-size: 3.8rem;
    color: #ff0f7b;
    animation: flutuar 2s infinite;


}


/* Animação do site*/


@keyframes flutuar{
    0%{

        transform: translateY(0);
    }
    50%{

        transform: translateY(-20px);
    }
    100%{

        transform: translateY(0);

    }
}
.comprar span{

    color: #ff0f7b;
}
.texto{

    font-size: 1.2rem;
    font-family: "Kanit", sans-serif;
    margin: 80px 0px 180px;
}



.estrategia{
    
color: white;
height: 60vh;
display: flex;
justify-content: space-evenly;
padding: 2rem 6rem 3rem;
margin-bottom: 20vh;


}
.estrategia .texto-estrategia{

    align-items: center;
    align-self: center;



}
.texto-estrategia h2{
    



color: #ff0f7b;   
font-size: 3rem;
font-weight: 100;
line-height: 1.5rem;
margin: 50px 0px;
    
    
    
}
.texto-estrategia p{
    

align-self: start;
font-family: "Kanit", sans-serif;
margin: 50px 0px;


}
.texto-estrategia button{
    

    width: 180px;
    padding: 5px;
    border-radius: 20px;
    border: none;
    text-transform: uppercase;
    font-family: "Orbitron", sans-serif;
    font-size: 20px;
    color: white;
    background: #ff0f7b;
    cursor: pointer;
    
}
.estrategia h2{
    
font-family: "Orbitron", sans-serif;
font-weight: 800;
font-style: normal;
line-height: 22px;

}


.container{
    position: relative;
    height: 50vh;
}
.container .wrapper{
    
    width: 50vw;
    height: 50vh;
    box-shadow: 10px 10px 20px rgba(0, 0 , 0, 0.6);
    margin: 2.5rem;
    overflow: hidden;
    
}
.container .wrapper-holder{

    display: grid;
    grid-template-columns: repeat(4, 100%);
    height: 100%;
    width: 100%;
    animation: slider 30s ease-in-out infinite ;
}
.container #slider-img-1{
    
    background-image: url(/img/LOL1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.container #slider-img-2{
    
    background-image: url(/img/LOL2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container #slider-img-3{
    
    background-image: url(/img/LOL3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container #slider-img-4{
    
    background-image: url(/img/LOL4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container .button-holder .button{
    border: 2px solid #ff0f7b;
    background-color: none;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    display: inline-block;
    margin: .3rem;
    
}
.container .button-holder{
    
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0%;
    width: 100%;

}
.button:hover{
    box-shadow: 0px 0px 7px 4px #ff0f7b;
    transition: ease-in-out 200ms;
}
.button:not(:hover){
    transition: ease-in-out 200ms;
}

@keyframes slider{
    0%{transform:translate(0%);}
    10%{transform:translate(-100%);}
    20%{transform:translate(-100%);}
    30%{transform:translate(-200%);}
    40%{transform:translate(-200%);}
    50%{transform:translate(-200%);}
    60%{transform:translate(-300%);}
    70%{transform:translate(-300%);}
    80%{transform:translate(-300%);}
    90%{transform:translate(0%);}
    100%{transform:translate(0%);}

}

.conteudos{

    display: flex;
    flex-direction: column;

}
.controle {
 
    display: grid;
    grid-template-columns: auto 400px;
    justify-content: space-evenly;
    margin: 0vh 0vh 20vh;
    
}
.controle .conteudo-imagem{

    width: 533px;
    height: 600px;
    object-fit: cover;
    
}
.controle-itens{

    grid-column: 2;
    display: flex;
    flex-direction: column;
    gap: 40px 0px;
    place-self: center;
    width: 100%;

}

.controle h2{

    font-family: "Orbitron", sans-serif;
    color: #ff0f7b;
    font-size: 2.6rem;
    margin: 0px 0px 35px;
}
.controle p{

    font-family: "Kanit", sans-serif;
    font-size: 1.6rem;
    margin: 0px 0px 35px;

}
.controle button{

    width: 180px;
    padding: 5px;
    border-radius: 20px;
    border: none;
    text-transform: uppercase;
    font-family: "Orbitron", sans-serif;
    font-size: 20px;
    color: white;
    background: #ff0f7b;
    cursor: pointer;
}
.reviews{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    margin: 0vh 0vh 20vh;
   
}
.reviews .item_1{
    
    place-self: center;
}
.reviews .item_2{

    place-self: center;
    width: 259.81px;

}
.reviews .item_3{
  
    place-self: center;
    width: 259.81px;

}
.reviews h1{

    grid-column: 1/-1;
    font-family: "Orbitron", sans-serif;
    text-align: center;
    font-size: 4em;
    color: #fff;
    letter-spacing: 10px;
   
}
.reviews .reviews-itens h3{

    font-family: "Orbitron", sans-serif;
    font-weight: 800;
    font-size: 1.85em;
    line-height: 0.85em;
    color: #ff0f7b;
}
.reviews .reviews-itens{
    
    display: flex;
    flex-direction: column;
    gap: 20px 0px;
    
    
}
.reviews .reviews-itens p {

    font-family: "Kanit", sans-serif ;
    font-size: 20px ;


}
.mouse{

    height: 65vh;
    background-image: url(/img/mouse.webp);
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px 100px 80px;


}
.mouse h1{

    place-self: center;
    font-family: "Orbitron", sans-serif;
    font-size: 4.5em;
    font-weight: 600;
 

}
.mouse .endereco{

    place-self: end start;
    
}
.mouse .endereco{

    font-family: "Orbitron", sans-serif;
    font-weight: 500;
    line-height: 25px;
}
.mouse .email{

    grid-area: 2/2 ;
    place-self: center start;
    font-family: "Orbitron", sans-serif;
    font-weight: 800;
    color: #ff0f7b;
    letter-spacing: 1.2px;
}
.mouse .redes-sociais{

    place-self: center start;
    grid-area: 3/2;
}
.mouse .redes-sociais .icones{

    width: 25px;
    height:25px ;
    color: black;
    background: #fff;
    padding: 10px;
    border-radius: 50%;
    margin: 0px 5px;
    cursor: pointer;
}


/*------------Efeito de entrada------------*/


.mouse .redes-sociais .icones:hover{

    transition: ease-in-out 250ms;
    box-shadow: 0px 0px 10px #fff;
}
.mouse .redes-sociais .instagram:hover{

    transition: ease-in-out 250ms;
    box-shadow: 0px 0px 10px #fff;
}



/*-------Efeito de saída---------*/


.mouse .redes-sociais .icones:not(:hover){

    transition: ease-in-out 850ms;
    
  }

/*----------------introdução--------------*/
@media(max-width:1428px){


    .introducao h1{
        min-width: 32vw;
        font-size: 3.1em;
        
    }


}


@media(max-width:1057px){

    .introducao h1{
        min-width: 32vw;
        font-size: 2.9em;
        
    }



}
@media(max-width:990px){

    .introducao h1{
        min-width: 32vw;
        font-size: 2.1em;
        
    }

}
@media(max-width:751px){

    .introducao{
        background-position: center;
    }

    .introducao h1{
        min-width: 45vw;
        font-size: 2.5em;
        
    }


}
@media (max-width: 606px){
    .introducao{
        background-position: center;
    }
    .introducao h1{
        font-size: 2em;
        
    }
}
@media (max-width:485px){

    .introducao{
        background-position: center;
    }

    .introducao h1{
    font-size: 1.6em;
    line-height: 40px;
 }
    .introducao h2{
        align-self: end;
    }
    .introducao button{
        font-size: 14px;
        height: 30px;
    }
}







/*--------------comprar-----------*/

@media(max-width:554px){

    .comprar h1{
        font-size: 2.5em;
    }
    .comprar p{
        font-size: 1.0em;
    }
    .comprar .seta{
        font-size: 2.5em;
    }
    .comprar h3{
        font-size: 1.1em;
    }
}
@media (max-width:391px){

    .comprar h1{
        
        font-size: 35px;
        

    }
    .comprar p{
        
        font-size: 0.8em;
        

    }
    .comprar h3{
        font-size: 1em;
    }

}







/*---------estratégia-------------*/
@media (max-width:1125px){
    
    .estrategia{
        display: flex;
        flex-direction: column;
        gap: 40px;

    }

    .estrategia .wrapper{
        margin: 0;
        width: 100%;
        height: 35vh;
    }
    .texto-estrategia h2{
        text-align: center;
    }
    .texto-estrategia {
        width: 100%;
        text-align: center;
    }
    .estrategia{
        margin-bottom: 35vh;
    }

}


@media (max-width:630px){
    
    .estrategia{
        padding: 0;
    }
    
    .estrategia h2{
        font-size: 1.8em;
    }
    .estrategia button{

        align-self: end;
        font-size: 14px;
        height: 30px; 
    }

}

/*----------conteúdos---------*/



@media (max-width: 970px){
    .conteudos .controle{
        display: grid;
        grid-template-columns: 60px 2fr 1fr;
        grid-template-rows: 1fr 1fr;

    }
    .controle .conteudo-imagem{

        grid-column: 2/3;

    }
    .controle .controle-itens{

        grid-area: 2/2;
    }
}

@media (max-width: 630px){

    .controle .conteudo-imagem{

        width: 400px;
        height: 400px;

    }


}
@media (max-width: 466px){

    .controle .conteudo-imagem{

        width: 300px;
        height: 300px;

    }

    .controle .controle-itens h2{
        font-size: 1.5em;
    }

    .controle .controle-itens p{
        font-size: 1.2em;
    }


    .controle .controle-itens button {
        font-size: 14px;
        height: 30px;
    }
}

@media (max-width:364px){

    .controle .conteudo-imagem{

        width: 200px;
        height: 200px;

    }

}


/*-----------reviews --------------*/




    @media (max-width: 970px){
    .reviews{
        grid-template-columns: 1fr;
    }
    .reviews .reviews-itens{
    
        place-self: center;
        text-align: center;
        
    }
}
@media (max-width: 675px){
    .reviews h1{
        font-size: 2.2em;
    }  
    .reviews h3{
        font-size: 1.3em;
    }
}

@media (max-width:415px){

    .reviews h1{
        font-size: 1.5em
    }
    .reviews .reviews-itens{
        font-size: 0.8em;
    }
    .reviews .reviews-itens p{
        font-size: 1em;
    }
}



/*---------------mouse ---------------*/


    @media (max-width: 970px){

    .mouse{
        background-position: center;
    }

    .mouse h1{
        font-size: 2.9em;
    }
    .mouse .email .endereco{
        font-size: 1.5em;
    }
}

@media (max-width: 675px){
    .mouse{
        background-position: center;
    }


    .mouse h1{
        font-size: 2.3em;
    }
    .mouse, .email, .endereco{
        font-size: 0.90em;
    }
}

@media (max-width:465px){

    .mouse{
        background-position: center;
    }


    .mouse{

        display: flex;
        flex-direction: column;

    }
    
    .mouse, .endereco, .email{
        gap: 30px;
        width: 100vw;
        text-align: center;
    }

    .mouse h1{
        margin: 20px 0px 0px;
    }



}








